<div class="componet w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam Bem vindos ao meu Blog</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="texte justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sint, perferendis neque nobis eius natus ut sequi dolore quae dolorem commodi?
                Delectus, eos amet doloremque inventore autem ea accusantium quibusdam. Repudiandae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ex, asperiores. Placeat, voluptatibus omnis! Exercitationem, quos.
                Sapiente, obcaecati tempore assumenda iste suscipit facere nam vero, quod est quo aspernatur ipsam error?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Soluta quaerat itaque mollitia harum dicta in iure nobis at fuga doloribus quo, molestiae tempore tempora ullam magnam, quis porro ex sunt!
            </p>
        </div>
    </div>
</div> 

    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
        </div>
    </div>


