<div class="card border-0 " style="width: 18rem;">
    <div class="d-flex justify-content-center">
      <img class="card-img-top rounded-circle w-125" src="https://file-upload.playredfox.com/system/blackdesert_ccms/images/000/000/418/original/corleone.jpg?1493694572" alt="Imagem de capa do card">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Don Corleone</h5>
      <p class="card-text text-center text-monospace">Lider da organização  mafia Italiana.</p>

        <a href="https://www.linkedin.com/in/evilsonsouza/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
      
        <a href="https://github.com/Ev1l5on" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
        
    </div>
  </div>
